.logo {
  width: 131px;
  height: 131px;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.75);
}

.nome {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50px;
}

.email {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50px;
}

.senha {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 50px;
}

.queroVender {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 50px;
}

.button {
  display: flex;
  justify-content: center;
}

.register {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

span {
  color: #ff7816;
  margin-left: 7px;
  margin-bottom: 2px;
}

.erro {
  color: red;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  max-width: 280px;
}

input {
  border-radius: 3px;
  border: #cccc solid 1px;
  padding: 5px;
  outline: none;
}

input:focus {
  border: #ff7816 1px solid;
}

.button-login {
  background-color: #ff7816;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7px 15px 7px 15px;
}
